*.[oa]
*.beam
ebin/
priv/
.eunit/
.rebar/
ebin/
priv/
deps/
doc/
.depsolver_plt
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.rebar3
*.plt
.erlang.cookie
erl_crash.dump
_rel
_deps
_plugins
_tdeps
_build
