{deps, [
    {procket, ".*", {git, "git://github.com/msantos/procket.git", {ref, "2c784fef1429030b70ba9260c7d541f9948001e0"}}},
    {pkt, ".*", {git, "git://github.com/msantos/pkt.git", {ref, "2961847d8206236d5a76bd0684bde337368c6a98"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
