{erl_opts, [debug_info]}.

{deps, [
    {procket, "0.9.8"},
    {pkt, "0.6.0"}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/gen_icmp"}
]}.

{hex, [{doc, ex_doc}]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.
