{deps, [
    {procket, ".*", {git, "git://github.com/msantos/procket.git", {ref, "7679c1a1205c3ea5b6d2a7ad6f8daf6c691b3301"}}},
    {pkt, ".*", {git, "git://github.com/msantos/pkt.git", {ref, "db7dec36a84484125bfeb4e148ec551cbc2e8997"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
